.buttonsQ2 {
    background: #60d8f9;
    color: #282c34;
    border: 0px;
    font-size: 34px;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.buttonsQ2:hover { 
    background: #4faac3;
}