.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
background-color: rgba(19, 18, 18, 0.8);
border: 1px solid rgba(0, 0, 0, 0.8);
padding: 20px;
font-size: 30px;
text-align: center;
}

.grid-item ul { 
    list-style-type: none;
}

.grid-item ul li{ 
    text-align: left
}